@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <h3 class="display-4">Bienvenido</h3>
</div>
    @{
        <p>Username: @ViewBag.Usuario.Username </p>
        <p>Nombre: @ViewBag.Usuario.Nombre </p>
        <p>Mail: @ViewBag.Usuario.Mail </p>
        <p>Telefono: @ViewBag.Usuario.Telefono </p>
        
    }