@{
    ViewData["Title"] = "Bienvenido tontis";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
     @{
        foreach (Entidad usuario in @ViewBag.listaUsuarios ){ 
            <p> @usuario.Nombre </p>
            <p> @usuario.Telefono </p>
        }
    }
</div>