@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><a href='@Url.Action("Login","Account")'>Iniciar sesión</a></h1>
    <h3><a href='@Url.Action("Registro","Account")'>Registrarse</a></h1>

</div>
